/*-----------------------------------------------------------------------------------*/
/*	RESET
/*-----------------------------------------------------------------------------------*/
html,body,div,span,applet,object,iframe,h1,p,blockquote,pre,a,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend
	{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent
}

body {
	right: 50%;
	text-align: center;
	line-height: 1
}

br {
	line-height: 5px;
}
/*-----------------------------------------------------------------------------------*/
/*	GENERAL
/*-----------------------------------------------------------------------------------*/
html,body {
	height: 100%;
}

body {
	background-color: #FCFCFC;
	font-family: Arial, sans-serif;
	font-size: 13px;
	color: #585858;
}

p {
	line-height: 20px;
	margin-bottom: 20px;
}

a {
	color: #688dad;
	text-decoration: none;
}

a:hover {
	color: #ab4d63;
}

a.more {
	font-family: 'Droid Serif', serif;
	font-style: italic;
	font-size: 13px;
}

.SmallInput {
	width: 5px;
	height: 1px;
}

h1 {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 2.5em;
	line-height: 1.5em;
	letter-spacing: -0.05em;
	margin-bottom: 20px;
	padding: .1em 0;
	color: #444;
	position: relative;
	overflow: hidden;
	white-space: nowrap;
	text-align: center;
}

img {
	display: block;
}

img.left {
	float: left;
	margin: 0 20px 20px 0;
}

img.right {
	float: right;
	margin: 0 0 20px 20px;
}

img.attachment {
	margin-bottom: 20px;
}

.center {
	text-align: center;
	display: block;
	margin: 0 auto;
}

h3 img {
	vertical-align: middle;
	padding-right: 10px;
	display: inline;
}

.title {
	margin-top: 0px;
	margin-bottom: 10px;
}

input[class="login"]:hover {
	opacity: 1;
	cursor: pointer;
}

.register:hover {
	color: #FFF;
	opacity: 1;
	cursor: pointer;
}

#facebook {
	margin: 10px;
}

input[class="radio1"] {
	font-family: 'Helvetica Neue', Helvetica, Verdana, sans-serif;
	font-size: 1em;
	margin: 10px;
}

input[class="radio2"] {
	font-family: 'Helvetica Neue', Helvetica, Verdana, sans-serif;
	font-size: 1em;
	margin: 10px;
}

.radio1 {
	float: left;
}

.radio2 {
	float: left;
}
#welcomeUser{
	margin-top:20px;	
	width: 247PX;
	padding: 5px;
	border-radius: 5px; @ include disable;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#28D2DE),
		to(#1A878F));
	background-image: -webkit-linear-gradient(#28D2DE 0%, #1A878F 100%);
	background-image: -moz-linear-gradient(#28D2DE 0%, #1A878F 100%);
	background-image: -o-linear-gradient(#28D2DE 0%, #1A878F 100%);
	background-image: linear-gradient(#28D2DE 0%, #1A878F 100%);
	font: 12px;
	color: #FFF;
	text-shadow: #001 0px 1px 5px; */
	border: 1px solid #000;
	opacity: 0.6;
	-webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.7);
	box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.7);
	border-top: 1px solid rgba(255, 255, 255, 0.8) !important;
}
#welcome {
	width: 247PX;
	padding: 5px;
	border-radius: 5px; @ include disable;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#28D2DE),
		to(#1A878F));
	background-image: -webkit-linear-gradient(#28D2DE 0%, #1A878F 100%);
	background-image: -moz-linear-gradient(#28D2DE 0%, #1A878F 100%);
	background-image: -o-linear-gradient(#28D2DE 0%, #1A878F 100%);
	background-image: linear-gradient(#28D2DE 0%, #1A878F 100%);
	font: 12px;
	color: #FFF;
	text-shadow: #001 0px 1px 5px; */
	border: 1px solid #000;
	opacity: 0.6;
	-webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.7);
	box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.7);
	border-top: 1px solid rgba(255, 255, 255, 0.8) !important;
	margin-top: 200px;
	margin-bottom: 20px;
}


input[class="login"] {
	float: left;
	font-family: Arial, sans-serif;
	width: 110px;
	padding: 5px;
	border-radius: 5px; @ include disable;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#28D2DE),
		to(#1A878F));
	background-image: -webkit-linear-gradient(#28D2DE 0%, #1A878F 100%);
	background-image: -moz-linear-gradient(#28D2DE 0%, #1A878F 100%);
	background-image: -o-linear-gradient(#28D2DE 0%, #1A878F 100%);
	background-image: linear-gradient(#28D2DE 0%, #1A878F 100%);
	font: 12px;
	color: #FFF;
	text-shadow: #000 0px 1px 5px;
	border: 1px solid #000;
	opacity: 0.6;
	-webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.7);
	box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.7);
	border-top: 1px solid rgba(255, 255, 255, 0.8) !important;
	-webkit-box-reflect: below 0px
		-webkit-gradient(linear, left top, left bottom, from(transparent),
		color-stop(50%, transparent), to(rgba(255, 255, 255, 0.2)));
	margin-top: 10px;
	margin-bottom: 20px;
}

.register {
	line-height: 16px;
	font-family: Arial, sans-serif;
	font-size: 13.3333px;
	height: 18px;
	float: right;
	width: 100px;
	padding: 5px;
	border-radius: 5px; @ include disable;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#28D2DE),
		to(#1A878F));
	background-image: -webkit-linear-gradient(#28D2DE 0%, #1A878F 100%);
	background-image: -moz-linear-gradient(#28D2DE 0%, #1A878F 100%);
	background-image: -o-linear-gradient(#28D2DE 0%, #1A878F 100%);
	background-image: linear-gradient(#28D2DE 0%, #1A878F 100%);
	font: 12px;
	color: #FFF;
	text-shadow: #000 0px 1px 5px;
	border: 1px solid #000;
	opacity: 0.6;
	-webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.7);
	box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.7);
	border-top: 1px solid rgba(255, 255, 255, 0.8) !important;
	-webkit-box-reflect: below 0px
		-webkit-gradient(linear, left top, left bottom, from(transparent),
		color-stop(50%, transparent), to(rgba(255, 255, 255, 0.2)));
	margin-top: 10px;
	margin-bottom: 20px;
}

/** modal window styles **/
.flatbtn {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	outline: 0;
	border: 0;
	color: #f3faef;
	text-decoration: none;
	background-color: #6bb642;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	font-size: 1.2em;
	font-weight: bold;
	padding: 12px 22px 12px 22px;
	line-height: normal;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	text-transform: uppercase;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 0 rgba(15, 15, 15, 0.3);
	-moz-box-shadow: 0 1px 0 rgba(15, 15, 15, 0.3);
	box-shadow: 0 1px 0 rgba(15, 15, 15, 0.3);
}

.flatbtn:hover {
	color: #fff;
	background-color: #73c437;
}

.flatbtn:active {
	-webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
}

/** custom login button **/
.flatbtn-blu {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	outline: 0;
	border: 0;
	color: #edf4f9;
	text-decoration: none;
	background-color: #4f94cf;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	font-size: 1.3em;
	font-weight: bold;
	padding: 12px 26px 12px 26px;
	line-height: normal;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	text-transform: uppercase;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.flatbtn-blu:hover {
	color: #fff;
	background-color: #519dde;
}

.flatbtn-blu:active {
	-webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
}

/** modal window styles **/
#lean_overlay {
	position: fixed;
	z-index: 100;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background: #000;
	display: none;
}

#registermodal {
	width: 800px;
	height: 600px;
	padding: 15px 20px;
	background: #f3f6fa;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}

#registerform { /* no default styles */
	
}

#registerform label {
	display: block;
	font-size: 1.1em;
	font-weight: bold;
	color: #7c8291;
	margin-bottom: 3px;
}

.txt {
	color: #3D81E6;
}

#icons {
	color: #4f94cf;
	cursor: pointer;
}

.textfield {
	width: 50%;
	padding: 6px 5px;
	margin-bottom: 15px;
	font-family: 'Helvetica Neue', Helvetica, Verdana, sans-serif;
	color: #7988a3;
	font-size: 1em;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.8);
	background-color: #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF),
		to(#fff));
	background-image: -webkit-linear-gradient(top, #FFF, #fff);
	background-image: -moz-linear-gradient(top, #FFF, #fff);
	background-image: -ms-linear-gradient(top, #FFF, #fff);
	background-image: -o-linear-gradient(top, #FFF, #fff);
	background-image: linear-gradient(top, #FFF, #fff);
	border: 1px solid;
	border-color: #abbce8 #c3cae0 #b9c8ef;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px
		rgba(255, 255, 255, 0.4);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px
		rgba(255, 255, 255, 0.4);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px
		rgba(255, 255, 255, 0.4);
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	transition: all 0.25s linear;
}

.txtfield {
	height: 35px;
	display: block;
	width: 100%;
	padding: 6px 5px;
	margin-bottom: 15px;
	font-family: 'Helvetica Neue', Helvetica, Verdana, sans-serif;
	color: #7988a3;
	font-size: 1.4em;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.8);
	background-color: #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF),
		to(#fff));
	background-image: -webkit-linear-gradient(top, #FFF, #fff);
	background-image: -moz-linear-gradient(top, #FFF, #fff);
	background-image: -ms-linear-gradient(top, #FFF, #fff);
	background-image: -o-linear-gradient(top, #FFF, #fff);
	background-image: linear-gradient(top, #FFF, #fff);
	border: 1px solid;
	border-color: #abbce8 #c3cae0 #b9c8ef;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px
		rgba(255, 255, 255, 0.4);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px
		rgba(255, 255, 255, 0.4);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px
		rgba(255, 255, 255, 0.4);
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	transition: all 0.25s linear;
}

.txtfield:focus {
	outline: none;
	color: #525864;
	border-color: #84c0ee;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), 0 0 7px #96c7ec;
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), 0 0 7px #96c7ec;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), 0 0 7px #96c7ec;
}
/*Rating Styles*/
form .stars {
  background: url("style/images/stars.png") repeat-x 0 0;
  width: 150px;
  margin: 0 auto;
}

form .stars input[type="radio"] {
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
}
form .stars input[type="radio"].star-5:checked ~ span {
  width: 100%;
}
form .stars input[type="radio"].star-4:checked ~ span {
  width: 80%;
}
form .stars input[type="radio"].star-3:checked ~ span {
  width: 60%;
}
form .stars input[type="radio"].star-2:checked ~ span {
  width: 40%;
}
form .stars input[type="radio"].star-1:checked ~ span {
  width: 20%;
}
form .stars label {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0!important;
  padding: 0!important;
  text-indent: -999em;
  float: left;
  position: relative;
  z-index: 10;
  background: transparent!important;
  cursor: pointer;
}
form .stars label:hover ~ span {
  background-position: 0 -30px;
}
form .stars label.star-5:hover ~ span {
  width: 100% !important;
}
form .stars label.star-4:hover ~ span {
  width: 80% !important;
}
form .stars label.star-3:hover ~ span {
  width: 60% !important;
}
form .stars label.star-2:hover ~ span {
  width: 40% !important;
}
form .stars label.star-1:hover ~ span {
  width: 20% !important;
}
form .stars span {
  display: block;
  width: 0;
  position: relative;
  top: 0;
  left: 0;
  height: 30px;
  background: url("style/images/stars.png") repeat-x 0 -60px;
  -webkit-transition: -webkit-width 0.5s;
  -moz-transition: -moz-width 0.5s;
  -ms-transition: -ms-width 0.5s;
  -o-transition: -o-width 0.5s;
  transition: width 0.5s;
}

/*Rating Styles*/
.line {
	background: transparent url(style/images/line.png) repeat-x;
	height: 1px;
	padding: 20px 0 0 0;
	margin-top: 20px;
}

ul {
	line-height: 20px;
	margin-bottom: 20px;
}

ol {
	list-style: decimal;
	list-style-position: inside;
	line-height: 20px;
}

ol li {
	padding: 0;
	margin: 0;
}

cite {
	font-family: 'Droid Serif', serif;
	font-style: italic;
	font-size: 12px;
	padding: 0;
	margin: 0;
}

#wrapper {
	width: 990px;
	margin: 0 auto;
	overflow: hidden;
}

#content {
	width: 700px;
	float: right;
	padding: 10px 0 20px 0;
}

#sidebar {
	height: 100%;
	width: 258px;
	background: #596d7f url(style/images/noize.png) repeat 100% 0;
	-webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.15);
	-moz-box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.15);
	box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.15);
	border-left: 1px solid rgba(0, 0, 0, 0.50);
	border-right: 1px solid rgba(0, 0, 0, 0.50);
	float: left;
	position: fixed;
}

#logo {
	text-align: left;
	padding: 40px 32px 0 32px;
}

#logo a {
	border: none;
}

#logo img {
	display: inline;
}

#sidebar ul.share {
	line-height: 1;
	text-align: left;
}

#sidebar ul.share li {
	background: none;
	padding: 0;
	display: inline-block;
	padding-right: 3px;
}

.sidebox {
	width: 200px;
	margin-left: 42px;
}

#footer {
	padding: 0px 0 0 0;
}

/*-----------------------------------------------------------------------------------*/
/*	UserMenu
/*-----------------------------------------------------------------------------------*/
#Usermenu{
	float: left;
	text-align: left;
	font-family: 'Amaranth', sans-serif;
	font-size: 14px;
	position: relative;
	padding: 0 0 0 24px;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
}
/*-----------------------------------------------------------------------------------*/
/*	MENU
/*-----------------------------------------------------------------------------------*/
#menu {
	float: left;
	text-align: left;
	font-family: 'Amaranth', sans-serif;
	font-size: 17px;
	margin-top: 60px;
	position: relative;
	padding: 0 0 0 24px;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
}

.menu-v ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	width: 200px;
	background: transparent url(style/images/menu-line.png) no-repeat center
		bottom;
}

.menu-v ul li {
	position: relative;
	padding-right: 5px;
	background: transparent url(style/images/menu-line.png) no-repeat center
		top;
	padding: 0;
}

.menu-v ul li a {
	display: block;
	color: white;
	text-decoration: none;
	padding: 12px 0 10px 20px;
	padding-right: 17px;
	background: transparent;
	color: #f0f0f0;
	text-decoration: none;
	border: none;
}

.menu-v ul li a.active,.menu-v ul li a.selected,.menu-v ul li a:hover {
	text-decoration: none;
	background: transparent url(style/images/menu-hover.png) repeat-y left
		top;
	color: #fff;
}

.menu-v ul li ul {
	position: absolute;
	width: 130px;
	top: 0px;
	font-weight: normal;
	visibility: hidden;
	text-align: left;
	padding: 0 15px 0 15px;
	margin-left: 0;
	background: #596d7f url(style/images/noize.png) repeat top center;
	-webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.10);
	-moz-box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.10);
	box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.10);
	border: 1px solid rgba(0, 0, 0, 0.30);
	font-size: 14px;
	line-height: 20px;
}

.menu-v ul li ul li {
	background: transparent url(style/images/dropdown-line.png) repeat-x
		left top;
}

.menu-v ul li ul li:first-child {
	background: none;
	padding-bottom: 0;
}

.menu-v ul li ul li a {
	padding: 12px 0;
}

.menu-v ul li ul li a.active,.menu-v ul li ul li a.selected,.menu-v ul li ul li a:hover
	{
	background: none;
}

.menu-v ul li ul {
	
}

* html .menu-v ul li {
	float: left;
	height: 1%;
}

* html .menu-v ul li a {
	height: 1%;
}