

/*-----------------------------------------------------------------------------------*/
/*	RESET
/*-----------------------------------------------------------------------------------*/

html, body, div, span, applet, object, iframe, h1,  p, blockquote, pre, a, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent
}
body {
right:50%;
text-align: center;
	line-height:1
}	
br {
	line-height: 5px;
}
/*-----------------------------------------------------------------------------------*/
/*	GENERAL
/*-----------------------------------------------------------------------------------*/

html, body {
	height: 100%;
}

body {
	background-color: #FCFCFC;
	font-family:Arial, sans-serif;
	font-size: 13px;
	color: #585858;
}

p {
	line-height: 20px;
	margin-bottom: 20px;
}

a {
	color: #688dad;
	text-decoration: none;
}

a:hover {
	color: #ab4d63;
}

a.more {
	font-family: 'Droid Serif', serif;
	font-style: italic;
	font-size: 13px;
	
}

h1 {
	font-family: 'Amaranth', sans-serif;
	color: #4a4a4a;
	font-weight: normal;
	margin: 0 0 10px 0;
}
h1 {
	font-size: 22px;
	line-height: 26px;
}

img {
	display: block;
}

img.left {
	float: left;
	margin: 0 20px 20px 0;
}
img.right {
	float: right;
	margin: 0 0 20px 20px;
}

img.attachment {
	margin-bottom: 20px;
}

.center {
	text-align: center;
	display: block;
	margin: 0 auto;
}

h3 img {
	vertical-align: middle;
	padding-right: 10px;
	display: inline;
}
.title{
	margin-top:0px;
	margin-bottom:10px;	
}
input[class="login"]:hover{
  opacity:1;
  cursor:pointer;
}
input[class="register"]:hover{
  opacity:1;
  cursor:pointer;
}
#facebook,google{
	margin:10px;
}
#Welcome{
  width:247PX;
  padding:5px;
  border-radius:5px;
  @include disable;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#28D2DE), to(#1A878F));
  background-image: -webkit-linear-gradient(#28D2DE 0%, #1A878F 100%);
  background-image: -moz-linear-gradient(#28D2DE 0%, #1A878F 100%);
  background-image: -o-linear-gradient(#28D2DE 0%, #1A878F 100%);
  background-image: linear-gradient(#28D2DE 0%, #1A878F 100%);
  font:12px ;
  color:#FFF;
  text-shadow:#000 0px 1px 5px;
  border:1px solid #000;
  opacity:0.6;
	-webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.7);
	-moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.7);
	box-shadow: 0 8px 6px -6px rgba(0,0,0,0.7);
  border-top:1px solid rgba(255,255,255,0.8)!important;
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(255,255,255,0.2)));
  margin-top: 200px;
  margin-bottom:20px;
}
input[class="login"]{
  width:110px;
  padding:5px;
  border-radius:5px;
  @include disable;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#28D2DE), to(#1A878F));
  background-image: -webkit-linear-gradient(#28D2DE 0%, #1A878F 100%);
  background-image: -moz-linear-gradient(#28D2DE 0%, #1A878F 100%);
  background-image: -o-linear-gradient(#28D2DE 0%, #1A878F 100%);
  background-image: linear-gradient(#28D2DE 0%, #1A878F 100%);
  font:12px ;
  color:#FFF;
  text-shadow:#000 0px 1px 5px;
  border:1px solid #000;
  opacity:0.6;
	-webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.7);
	-moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.7);
	box-shadow: 0 8px 6px -6px rgba(0,0,0,0.7);
  border-top:1px solid rgba(255,255,255,0.8)!important;
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(255,255,255,0.2)));
  margin-top: 10px;
  margin-bottom:20px;
}
input[class="register"]{
  width:110px;
  padding:5px;
  border-radius:5px;
  @include disable;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#28D2DE), to(#1A878F));
  background-image: -webkit-linear-gradient(#28D2DE 0%, #1A878F 100%);
  background-image: -moz-linear-gradient(#28D2DE 0%, #1A878F 100%);
  background-image: -o-linear-gradient(#28D2DE 0%, #1A878F 100%);
  background-image: linear-gradient(#28D2DE 0%, #1A878F 100%);
  font:12px ;
  color:#FFF;
  text-shadow:#000 0px 1px 5px;
  border:1px solid #000;
  opacity:0.6;
	-webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.7);
	-moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.7);
	box-shadow: 0 8px 6px -6px rgba(0,0,0,0.7);
  border-top:1px solid rgba(255,255,255,0.8)!important;
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(255,255,255,0.2)));
  margin-top: 10px;
  margin-bottom:20px;
}
.line {
	background: transparent url(style/images/line.png) repeat-x;
	height: 1px;
	padding: 20px 0 0 0;
	margin-top:20px;
}
ul {
	line-height: 20px;
	margin-bottom: 20px;
}
ul li {
	background: transparent url(style/images/bullet.png) left 8px no-repeat;
	padding-left: 15px;
}
ol {
	list-style: decimal;
	list-style-position: inside;
	line-height: 20px;
}
ol li {
	padding: 0;
	margin: 0;
}

cite {
	font-family: 'Droid Serif', serif;
	font-style: italic;
	font-size: 12px;
	padding: 0;
	margin: 0;
}


#wrapper {
	width: 990px;
	margin: 0 auto;
	overflow: hidden;
}

#content {
	width: 700px;
	float: right;
	padding: 10px 0 20px 0;
}

#sidebar {
	width: 258px;
	background: #596d7f url(style/images/noize.png) repeat 100% 0;
	-webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.15);
	-moz-box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.15);
	box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.15);
	border-left: 1px solid rgba(0, 0, 0, 0.50);
	border-right: 1px solid rgba(0, 0, 0, 0.50);
	float: left;
	position: fixed;
	margin-top: -1px;
	z-index: 100;
}

#blog #sidebar {
	position: relative;
}

#logo {
	text-align: left;
	padding: 40px 32px 0 32px;
}

#logo a {
	border: none;
}

#logo img {
	display: inline;
}

#sidebar ul.share {
	line-height: 1;
	text-align: left;
}

#sidebar ul.share li {
	background: none;
	padding: 0;
	display: inline-block;
	padding-right: 3px;
}

.sidebox {
	width: 200px;
	margin: 0 auto 50px auto;
}


#footer {	
	padding: 0px 0 0 0;
}

/*-----------------------------------------------------------------------------------*/
/*	MENU
/*-----------------------------------------------------------------------------------*/

#menu {
	float: left;
	text-align: left;
	font-family: 'Amaranth', sans-serif;
	font-size: 17px;
	margin-top: 40px;
	margin-bottom: 50px;
	position: relative;
	z-index: 100;
	padding: 0 0 0 24px;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
}

.menu-v ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
	width: 200px;
	background: transparent url(style/images/menu-line.png) no-repeat center bottom;
}
 
.menu-v ul li{
	position: relative;
	padding-right: 5px;
	background: transparent url(style/images/menu-line.png) no-repeat center top;
	padding: 0;
}

.menu-v ul li a{
	display: block;
	color: white;
	text-decoration: none;
	padding: 12px 0 10px 20px;
	padding-right: 17px;
	background: transparent; 
	color: #f0f0f0;
	text-decoration: none;
	border: none;
}

.menu-v ul li a.active, .menu-v ul li a.selected, .menu-v ul li a:hover{
	text-decoration: none;
	background: transparent url(style/images/menu-hover.png) repeat-y left top;
	color: #fff;
}

.menu-v ul li ul{
	position: absolute;
	width: 130px; 
	top: 0px;
	font-weight: normal;
	visibility: hidden;
	text-align: left;
	padding: 0 15px 0 15px;
	margin-left: 0;
	background: #596d7f url(style/images/noize.png) repeat top center;
	-webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.10);
	-moz-box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.10);
	box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.10);
	border: 1px solid rgba(0, 0, 0, 0.30);
	font-size: 14px;
	line-height: 20px;
}

.menu-v ul li ul li{
	background: transparent url(style/images/dropdown-line.png) repeat-x left top;
}

.menu-v ul li ul li:first-child {
	background: none;
	padding-bottom: 0;
}

.menu-v ul li ul li a{
	padding: 12px 0;
}

.menu-v ul li ul li a.active, .menu-v ul li ul li a.selected, .menu-v ul li ul li a:hover{
	background: none;
}


.menu-v ul li ul {
	
}

* html .menu-v ul li { float: left; height: 1%; }
* html .menu-v ul li a { height: 1%; }
